@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: rgb(0, 0, 0);
  --nav-background-rgb: rgb(18, 18, 18);
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-rgb);
}

.nav {
  background-color: var(--nav-background-rgb);
}
.icon {
  @apply w-6 h-6 mx-auto text-white fill-current;
}
.hoover {
  @apply hover:bg-black hover:border-l-green-400 hover:border-l-4 min-w-[100%] py-2 transition-all duration-[50] ease-in;
}
