@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: rgb(0, 0, 0);
  --nav-background-rgb: rgb(18, 18, 18);
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-rgb);
}

.nav {
  background-color: var(--nav-background-rgb);
}
